.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Colors */
$game_board_color: mix(pink, blue, 60%);
$button_color: mix(white,orange,30%);
/* Fonts */
$font-sizes: ("small": 12px, "normal": 18px, "large": 24px);


.game{
    background-color: $game_board_color;
}

.game-info{
    font-size: map-get($font-sizes, "normal");

}


.board-row {
    
}

button {

    background-color: $button_color;
    font-size: map-get($font-sizes,"normal");
    align-items: center;
}

.square {
    font-size: map-get($font-sizes,"small");
    padding: 25px 25px;
}

